#!/bin/bash
sudo apt update

sudo apt install nginx -y
sudo mkdir -p /var/www/${d_name}/html
#sudo chown -R $USER:$USER /var/www/${d_name}/html
#sudo chmod -R 755 /var/www/${d_name}


cat <<EOF > /var/www/${d_name}/html/index.html
<html>
<head>
<title>Welcome to ${d_name}!</title>
</head>
<body>
<h1>Success!  The ${d_name} server block is working!</h1>
</body>
</html>
EOF

#sudo mkdir /etc/nginx/sites-available/${d_name}
#sudo cp /etc/nginx/sites-available/default /etc/nginx/sites-available/${d_name}

cat <<EOF > /etc/nginx/nginx.conf
events{}
http{
server {
listen 80 ;
server_name abc.lsdn.io www.abc.lsdn.io *.abc.lsdn.io;
root /var/www/abc.lsdn.io/html;
}
}
EOF
#sudo ln -s /etc/nginx/sites-available/${d_name} /etc/nginx/sites-enabled/
#sudo systemctl restart nginx
sudo systemctl start nginx
sudo systemctl enable nginx