#!/bin/bash
sudo apt update

sudo apt install nginx -y

#sudo chown -R $USER:$USER /var/www/${d_name}/html
#sudo chmod -R 755 /var/www/${d_name}

sudo mkdir -p /var/www/abc.lsdn.io/html
cat <<EOF > /var/www/abc.lsdn.io/html/index.html
<html>
<head>
<title>Welcome to NginX!</title>
</head>
<body>
<h1>Success!  The NginX server block is working!</h1>
</body>
</html>
EOF

#sudo mkdir /etc/nginx/sites-available/${d_name}
#sudo cp /etc/nginx/sites-available/default /etc/nginx/sites-available/${d_name}

cat <<EOF > /etc/nginx/nginx.conf
events{}
http{
server {
listen 80 ;
server_name abc.lsdn.io www.abc.lsdn.io;
root /var/www/abc.lsdn.io/html;
}
}
EOF
#sudo ln -s /etc/nginx/sites-available/${d_name} /etc/nginx/sites-enabled/
#sudo systemctl reload nginx
sudo systemctl start nginx
sudo systemctl enable nginx
sudo systemctl reload nginx